In [12]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoAlertPresentException
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import matplotlib.ticker as ticker
from urllib.request import urlopen
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
from selenium import webdriver
from bs4 import BeautifulSoup
from datetime import datetime
import seaborn as sns
import pandas as pd
import numpy as np
import requests
import unittest
import time
import re
import sys

In [13]:
def scroll(driver, timeout):
    scroll_pause_time = timeout

    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(scroll_pause_time)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            # If heights are the same it will exit the function
            break
        last_height = new_height

def all_links(url):
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    # Setup the driver. This one uses chrome with some options and a path to the chromedriver
    driver = webdriver.Chrome(ChromeDriverManager().install())
    # implicitly_wait tells the driver to wait before throwing an exception
    driver.implicitly_wait(100)
    # driver.get(url) opens the page
    driver.get('https://collegedunia.com/study-abroad-colleges')
    # This starts the scrolling by passing the driver and a timeout
    scroll(driver, 500)
    # Once scroll returns bs4 parsers the page_source
    soup = BeautifulSoup(driver.page_source, 'lxml')
    # Them we close the driver as soup_a is storing the page source
    driver.close()
    
    alls = []
    
    for d in soup.findAll('div', attrs={'class':'jsx-1879893061 listing-block text-uppercase bg-white position-relative'}):

                name = d.find('h3', attrs={'class':'jsx-1879893061 text-white font-weight-bold text-md m-0'})
                location = d.find('span', attrs={'class':'jsx-1879893061 mr-1'})
                rating = d.find('span', attrs={'class':'jsx-1879893061 rating-text text-white font-weight-bold text-base d-block text-right'})
                scores = d.find('span', attrs={'class':'jsx-1879893061 d-block'})
                price = d.find('span', attrs={'class':'jsx-1879893061 d-flex justify-content-between'})

                all1=[]

                if name is not None:
                    #print(n[0]['alt'])
                    all1.append(name.text)
                else:
                    all1.append("N/A")

                if location is not None:
                    all1.append(location.text)
                else:    
                    all1.append('N/A')

                if rating is not None:
                    #print(rating.text)
                    all1.append(rating.text)
                else:
                    all1.append('N/A')

                if scores is not None:
                    #print(price.text)
                    all1.append(scores.text)
                else:
                    all1.append('-*-')     

                if price is not None:
                    #print(price.text)
                    all1.append(price.text)
                else:
                    all1.append('-*-')
                alls.append(all1)    
    return alls

In [14]:
results = []
for i in range(1):
    results.append(all_links(i))
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['UNIVERSITY NAME','LOCATION','RATING','SCORES','PRICE'])
df.to_csv('Universities.csv', index=False, encoding='utf-8')

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
INFO:WDM:Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
INFO:WDM:Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\Barun\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache
INFO:WDM:Driver [C:\Users\Barun\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [15]:
df = pd.read_csv("Universities.csv")
df.shape

(2120, 5)

In [16]:
df.head(50)

,UNIVERSITY NAME,LOCATION,RATING,SCORES,PRICE
0,"Harvard University, Cambridge","Massachusetts, usa",10.0/10,GRE 292 | TOEFL 100,M.Sc Computational Sci...$54.9K/Yr
1,"Stanford University, Stanford","California, usa",9.3/10,GMAT 733 | PTE 68,M.B.A$74.7K/Yr
2,"Massachusetts Institute of Technology, Cambridge","Massachusetts, usa",9.0/10,GMAT 727 | TOEFL 90,M.Sc Computation for D...$53.4K/Yr
3,"University of Cambridge, Cambridge","England, uk",9.0/10,GMAT 687 | TOEFL 110,M.B.A$76.1K/Yr
4,"University of Oxford, Oxford","England, uk",8.9/10,TOEFL 100,M.Sc Computer Science$33K/Yr
5,"University of California, Berkeley","California, usa",8.4/10,IELTS 7,M.Sc Computer Science$26.5K/Yr
6,"Columbia University, New York City","New York, usa",8.4/10,GMAT 726 | TOEFL 100,M.B.A$77.4K/Yr
7,"The University of Chicago, Chicago","Illinois, usa",8.4/10,GMAT 570 | TOEFL 100,M.B.A$72K/Yr
8,"California Institute of Technology, Pasadena","California, usa",8.3/10,-*-,M.S Mechanical Enginee...$62.4K/Yr
9,"Princeton University, Princeton","New Jersey, usa",8.3/10,TOEFL 100,M.Sc Computer Science$54.1K/Yr
10,"Yale University, New Haven","Connecticut, usa",8.1/10,IELTS 7.0,M.Sc Computer Science$55.5K/Yr
11,"Cornell University, Ithaca","New York, usa",7.9/10,TOEFL 77,M.Eng Computer Science$56.5K/Yr
12,"University of Pennsylvania, Philadelphia","Pennsylvania, usa",7.9/10,GMAT 730 | TOEFL 100,M.B.A$81.4K/Yr
13,"University of California Los Angeles, Los Angeles","California, usa",7.8/10,IELTS 7,M.Sc Computer Science$26.5K/Yr
14,"Johns Hopkins University, Baltimore","Maryland, usa",7.8/10,-*-,M.Sc Biotechnology$55.3K/Yr
15,"University College London, London","England, uk",7.7/10,-*-,M.B.A$43K/Yr
16,"Imperial College London, London","England, uk",7.6/10,GMAT 600 | TOEFL 100,M.B.A$70.3K/Yr
17,"University of Michigan, Ann Arbor","Michigan, usa",7.5/10,IELTS 6.5,M.Sc Computer Science ...$63K/Yr
18,"University of Toronto, Toronto","Ontario, canada",7.4/10,GMAT 663 | TOEFL 100,M.B.A$47.5K/Yr
19,"Northwestern University, Evanston","Illinois, usa",7.3/10,IELTS 7.5,M.Sc Biotechnology$82.6K/Yr
20,"University of California, San Diego","California, usa",7.3/10,-*-,M.S Data Science and E...$33.5K/Yr
21,"University of Washington, Seattle","Washington, usa",7.2/10,GRE 298 | TOEFL 92,M.S Computer Science &...$3.5K/Yr
22,"Nanyang Technological University, Singapore","Singapore, singapore",7.0/10,GMAT 600 | TOEFL 100,M.B.A$62.1K/Yr
23,"University of Edinburgh, Edinburgh","Scotland, uk",6.9/10,IELTS 6.5,M.A Accounting and Bus...$28.4K/Yr
24,"New York University, New York City","New York, usa",6.9/10,TOEFL 90,M.Sc Data Science$64.6K/Yr
25,"Duke University, Durham","North Carolina, usa",6.9/10,GMAT 660 | TOEFL 79,M.B.A$70K/Yr
26,"Australian National University, Canberra","Australian Capital Territory , australia",6.9/10,-*-,M.B.A$33K/Yr
27,"University of Wisconsin, Madison","Wisconsin, usa",6.8/10,GRE 317 | TOEFL 92,M.Sc Biotechnology$26.5K/Yr
28,"National University of Singapore, Singapore","Singapore, singapore",6.8/10,GRE 320 | TOEFL 100,M.B.A$42.9K/Yr
29,"Brown University, Providence","Rhode Island, usa",6.7/10,IELTS 7,M.A Innovation Managem...$59.3K/Yr
30,"University of British Columbia, Vancouver","British Columbia, canada",6.7/10,GRE 310 | IELTS 6.5,M.Sc Computer Science$6.6K/Yr
31,"University of Melbourne, Melbourne","Victoria, australia",6.7/10,TOEFL 102,Master of Business Adm...$72.8K/Yr
32,"McGill University, Montreal","Quebec, canada",6.6/10,GMAT 660 | IELTS 6.5,M.Mgmt Analytics$39.4K/Yr
33,"King's College London, London","England, uk",6.6/10,IELTS 6.0,M.Sc Computer Science$36.2K/Yr
34,"University of New South Wales, Sydney","New South Wales, australia",6.6/10,-*-,Master Construction Pr...$25.8K/Yr
35,"Washington University, St. Louis","Missouri, usa",6.5/10,-*-,M.Sc Finance + Global ...$54.1K/Yr
36,"University of Manchester, Manchester","England, uk",6.5/10,IELTS 7,M.Eng Computer Science$32.2K/Yr
37,The Hong Kong University of Science & Technolo...,"Hong Kong, hong-kong",6.5/10,-*-,M.S Science in Busines...--
38,London School of Economics and Political Scien...,"England, uk",6.5/10,IELTS 7.5,L.L.M$34.8K/Yr
39,"Carnegie Mellon University, Pittsburgh","Pennsylvania, usa",6.4/10,GMAT 680 | TOEFL 102,M.B.A$70K/Yr
40,"The University of Hong Kong, Pokfulam","Hong Kong, hong-kong",6.4/10,-*-,M.Sc Computer Science$18.7K/Yr
41,"Lund University, Lund","Skane, sweden",6.3/10,-*-,M.S Information System...$13.6K/Yr
42,"University of Sydney, Sydney","New South Wales, australia",6.3/10,GMAT 630 | IELTS 7,M.B.A$37.7K/Yr
43,"Karolinska Institute, Stockholm","Uppland, sweden",6.3/10,-*-,M.S Bioentrepreneurshi...$19.8K/Yr
44,"University of Queensland, Brisbane","Queensland, australia",6.3/10,GRE 304 | TOEFL 87,M.Eng$31.1K/Yr
45,"Emory University, Atlanta","Georgia, usa",6.3/10,GMAT 680 | IELTS 7,M.B.A$98.1K/Yr
46,"University of Amsterdam, Amsterdam","North Holland, netherlands",6.3/10,-*-,M.S Artificial Intelli...$16.6K/Yr
47,"University of Glasgow, Glasgow","Scotland, uk",6.2/10,IELTS 6.5,M.B.A$40.1K/Yr
48,"University of Freiburg, Freiburg","Baden-Wurttemberg, germany",6.2/10,TOEFL 92,M.S Computer Science$2.9K/Yr
49,"Wageningen University & Research, Wageningen","Gelderland, netherlands",6.2/10,-*-,M.S Plant Sciences$21.1K/Yr